* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f39c12;
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  
}


header {
  font-size: 1.5rem;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border: none;
  outline: none;
  background-color: white;
}

form button {
  color: tomato;
  background-color: rgb(245, 233, 233);
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: black;
}

#icon {
  color: tomato;
}
/* Todo Style */
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 20%;
  list-style: none;
}

.todo {
  margin: 0.4rem;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  background-color: white;
  transition: 1s all 0.3s ease;
}
.todo-item {
  flex: 1;
  padding: 0rem 1rem;
}

.trash-btn, .complete-btn{
    background-color: tomato;
    cursor: pointer;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
}
.complete-btn{
    background-color: greenyellow;
    
}

.fa-trash,
.fa-check-circle {
    pointer-events: none;
}


.completed{
  text-decoration: line-through;
  opacity:0.2;
}

.fall{
  transform: translate(120px, 50%);
  opacity: 0.1;
}
/* Option Style */
select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  color: tomato;
  width:10rem;
  cursor: pointer;
  padding:1.1rem;
  font-family: Arial;
  font-weight: bold;
  width: 11rem;
}
  


.select{
  margin: 1rem;
  position: relative;
  overflow: hidden;
  
}

/* Remove IE arrow */
select::-ms-expand {
  display: none;
}

.select::after{
  content: ' \25BC';
  position:absolute;
  top: 0%;
  right: 0%;
  background-color:tomato;
  pointer-events: none;
  padding: 1rem;
  text-align: center;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
  
  
}

.select:hover::after {
  color: black;
}